x-generator: NSwag v13.11.1.0 (NJsonSchema v10.4.3.0 (Newtonsoft.Json v13.0.0.0))
swagger: '2.0'
info:
  title: slo-covid-19 data API
  description: SchemaVersion
  termsOfService: None
  contact:
    name: Miha Markič
    url: https://blog.rthand.com/
    email: miha@rthand.com
  license:
    name: Use under MIT
    url: https://raw.githubusercontent.com/slo-covid-19/data-api/master/LICENSE
  version: v45
host: api.sledilnik.org
schemes:
  - https
paths:
  /api/age-daily-deaths-slovenia:
    get:
      tags:
        - AgeDailyDeathsSlovenia
      operationId: AgeDailyDeathsSlovenia_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/AgeDailyDeathsSloveniaDay'
  /api/daily-deaths-slovenia:
    get:
      tags:
        - DailyDeathsSlovenia
      operationId: DailyDeathsSlovenia_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/DailyDeathsSlovenia'
  /diagnostics/readyz:
    head:
      tags:
        - Diagnostics
      operationId: ReadyHead
      responses:
        '200':
          description: ''
    get:
      tags:
        - Diagnostics
      operationId: ReadyGet
      responses:
        '200':
          description: ''
  /api/health-centers:
    get:
      tags:
        - HealthCenters
      operationId: HealthCenters_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/HealthCentersDay'
  /api/Hospitals:
    get:
      tags:
        - Hospitals
      operationId: Hospitals_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/HospitalsDay'
  /api/hospitals-list:
    get:
      tags:
        - HospitalsList
      operationId: HospitalsList_Get
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Hospital'
  /api/lab-tests:
    get:
      tags:
        - LabTests
      operationId: LabTests_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/LabTestDay'
  /api/monthly-deaths-slovenia:
    get:
      tags:
        - MonthlyDeathsSlovenia
      operationId: MonthlyDeathsSlovenia_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/MonthlyDeathsSlovenia'
  /api/municipalities:
    get:
      tags:
        - Municipalities
      operationId: Municipalities_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/MunicipalityDay'
  /api/municipalities-list:
    get:
      tags:
        - MunicipalityList
      operationId: MunicipalityList_Get
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Municipality'
  /api/Owid:
    get:
      tags:
        - Owid
      operationId: Owid_Get
      produces:
        - text/plain
        - application/json
        - text/json
        - text/csv
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: countries
          in: query
          x-nullable: true
        - type: string
          name: columns
          in: query
          x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OwidCountryDay'
  /api/Patients:
    get:
      tags:
        - Patients
      operationId: Patients_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/PatientsDay'
  /api/regions:
    get:
      tags:
        - Regions
      operationId: Regions_GetRegionCases
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/RegionCasesDay'
  /api/retirement-homes:
    get:
      tags:
        - RetirementHomes
      operationId: RetirementHomes_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/RetirementHomesDay'
  /api/retirement-homes-list:
    get:
      tags:
        - RetirementHomesList
      operationId: RetirementHomesList_Get
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/RetirementHome'
  /api/schools:
    get:
      tags:
        - SchoolCases
      operationId: SchoolCases_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/SchoolCasesDay'
  /api/school-status:
    get:
      tags:
        - SchoolStatus
      operationId: SchoolStatus_Get
      produces:
        - text/plain
        - application/json
        - text/json
        - text/csv
      parameters:
        - type: array
          name: id
          in: query
          collectionFormat: multi
          x-nullable: true
          items:
            type: string
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/SchoolStatus'
  /api/Sewage:
    get:
      tags:
        - Sewage
      operationId: Sewage_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/SewageDay'
  /api/Stats:
    get:
      tags:
        - Stats
      operationId: Stats_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/StatsDaily'
  /api/stats-weekly:
    get:
      tags:
        - StatsWeekly
      operationId: StatsWeekly_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/StatsWeeklyDay'
  /api/summary:
    get:
      tags:
        - Summary
      operationId: Summary_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: toDate
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            $ref: '#/definitions/Summary'
  /api/vaccinations:
    get:
      tags:
        - Vaccinations
      operationId: Vaccinations_Get
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - type: string
          name: from
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: to
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: true
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/VaccinationDay'
definitions:
  AgeDailyDeathsSloveniaDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      male:
        type: object
        additionalProperties:
          type: integer
          format: int32
      female:
        type: object
        additionalProperties:
          type: integer
          format: int32
  DailyDeathsSlovenia:
    type: object
    required:
      - year
      - month
      - day
      - deceased
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      deceased:
        type: integer
        format: int32
  HealthCentersDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      all:
        $ref: '#/definitions/HealthCentersDayItem'
      municipalities:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            $ref: '#/definitions/HealthCentersDayItem'
  HealthCentersDayItem:
    type: object
    properties:
      examinations:
        $ref: '#/definitions/HealthCentersExaminations'
      phoneTriage:
        $ref: '#/definitions/HealthCentersPhoneTriage'
      tests:
        $ref: '#/definitions/HealthCentersTests'
      sentTo:
        $ref: '#/definitions/HealthCentersSentTo'
  HealthCentersExaminations:
    type: object
    properties:
      medicalEmergency:
        type: integer
        format: int32
      suspectedCovid:
        type: integer
        format: int32
  HealthCentersPhoneTriage:
    type: object
    properties:
      suspectedCovid:
        type: integer
        format: int32
  HealthCentersTests:
    type: object
    properties:
      performed:
        type: integer
        format: int32
      positive:
        type: integer
        format: int32
  HealthCentersSentTo:
    type: object
    properties:
      hospital:
        type: integer
        format: int32
      selfIsolation:
        type: integer
        format: int32
  HospitalsDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      overall:
        $ref: '#/definitions/HospitalDay'
      perHospital:
        type: object
        additionalProperties:
          $ref: '#/definitions/HospitalDay'
  HospitalDay:
    type: object
    properties:
      beds:
        $ref: '#/definitions/HospitalBedDay'
      icu:
        $ref: '#/definitions/HospitalICUDay'
      vents:
        $ref: '#/definitions/HospitalVentDay'
      care:
        $ref: '#/definitions/HospitalCareDay'
  HospitalBedDay:
    type: object
    properties:
      total:
        type: integer
        format: int32
      max:
        type: integer
        format: int32
      occupied:
        type: integer
        format: int32
      free:
        type: integer
        format: int32
      maxFree:
        type: integer
        format: int32
  HospitalICUDay:
    type: object
    properties:
      total:
        type: integer
        format: int32
      max:
        type: integer
        format: int32
      occupied:
        type: integer
        format: int32
      free:
        type: integer
        format: int32
  HospitalVentDay:
    type: object
    properties:
      total:
        type: integer
        format: int32
      max:
        type: integer
        format: int32
      occupied:
        type: integer
        format: int32
      free:
        type: integer
        format: int32
  HospitalCareDay:
    type: object
    properties:
      total:
        type: integer
        format: int32
      max:
        type: integer
        format: int32
      occupied:
        type: integer
        format: int32
      free:
        type: integer
        format: int32
  Hospital:
    type: object
    properties:
      code:
        type: string
      name:
        type: string
      uri:
        type: string
  LabTestDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      total:
        $ref: '#/definitions/LabTestData'
      data:
        type: object
        additionalProperties:
          $ref: '#/definitions/LabTestData'
      labs:
        type: object
        additionalProperties:
          $ref: '#/definitions/LabTestData'
  LabTestData:
    type: object
    properties:
      performed:
        $ref: '#/definitions/TodayToDate'
      positive:
        $ref: '#/definitions/TodayToDate'
  TodayToDate:
    type: object
    properties:
      today:
        type: integer
        format: int32
      toDate:
        type: integer
        format: int32
  MonthlyDeathsSlovenia:
    type: object
    required:
      - year
      - month
      - deceased
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      deceased:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
  MunicipalityDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      regions:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            $ref: '#/definitions/MunicipalityDayData'
  MunicipalityDayData:
    type: object
    properties:
      activeCases:
        type: integer
        format: int32
      confirmedToDate:
        type: integer
        format: int32
      deceasedToDate:
        type: integer
        format: int32
  Municipality:
    type: object
    required:
      - population
    properties:
      id:
        type: string
      name:
        type: string
      population:
        type: integer
        format: int32
  OwidCountryDay:
    type: object
    required:
      - date
    properties:
      date:
        type: string
        format: date-time
      isoCode:
        type: string
      newCases:
        type: number
        format: float
      newCasesPerMillion:
        type: number
        format: float
      totalCases:
        type: number
        format: float
      totalCasesPerMillion:
        type: number
        format: float
      totalDeaths:
        type: number
        format: float
      totalDeathsPerMillion:
        type: number
        format: float
  PatientsDay:
    type: object
    required:
      - dayFromStart
      - year
      - month
      - day
    properties:
      dayFromStart:
        type: integer
        format: int32
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      total:
        $ref: '#/definitions/GeneralUnit'
      facilities:
        type: object
        additionalProperties:
          $ref: '#/definitions/Unit'
  GeneralUnit:
    allOf:
      - $ref: '#/definitions/BaseUnitOfStateDeceased'
      - type: object
        properties:
          outOfHospital:
            $ref: '#/definitions/OutOfHospital'
  OutOfHospital:
    type: object
    properties:
      toDate:
        type: integer
        format: int32
  BaseUnitOfStateDeceased:
    type: object
    properties:
      inHospital:
        $ref: '#/definitions/HospitalMovement'
      icu:
        $ref: '#/definitions/HospitalMovement'
      niv:
        $ref: '#/definitions/HospitalMovement'
      critical:
        $ref: '#/definitions/HospitalMovement'
      deceased:
        $ref: '#/definitions/StateDeceased'
      care:
        $ref: '#/definitions/HospitalMovement'
      deceasedCare:
        $ref: '#/definitions/TodayToDate'
  HospitalMovement:
    type: object
    properties:
      in:
        type: integer
        format: int32
      out:
        type: integer
        format: int32
      today:
        type: integer
        format: int32
      toDate:
        type: integer
        format: int32
  StateDeceased:
    allOf:
      - $ref: '#/definitions/Deceased'
      - type: object
        properties:
          hospital:
            $ref: '#/definitions/HospitalStats'
          care:
            $ref: '#/definitions/TodayToDate'
          home:
            $ref: '#/definitions/TodayToDate'
  HospitalStats:
    allOf:
      - $ref: '#/definitions/TodayToDate'
      - type: object
        properties:
          icu:
            $ref: '#/definitions/TodayToDate'
  Deceased:
    type: object
    properties:
      today:
        type: integer
        format: int32
      toDate:
        type: integer
        format: int32
  Unit:
    allOf:
      - $ref: '#/definitions/BaseUnitOfHospitalDeceased'
      - type: object
  BaseUnitOfHospitalDeceased:
    type: object
    properties:
      inHospital:
        $ref: '#/definitions/HospitalMovement'
      icu:
        $ref: '#/definitions/HospitalMovement'
      niv:
        $ref: '#/definitions/HospitalMovement'
      critical:
        $ref: '#/definitions/HospitalMovement'
      deceased:
        $ref: '#/definitions/HospitalDeceased'
      care:
        $ref: '#/definitions/HospitalMovement'
      deceasedCare:
        $ref: '#/definitions/TodayToDate'
  HospitalDeceased:
    allOf:
      - $ref: '#/definitions/Deceased'
      - type: object
        properties:
          icu:
            $ref: '#/definitions/TodayToDate'
  RegionCasesDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      regions:
        type: object
        additionalProperties:
          $ref: '#/definitions/RegionCasesDayData'
  RegionCasesDayData:
    type: object
    properties:
      activeCases:
        type: integer
        format: int32
      confirmedToDate:
        type: integer
        format: int32
      deceasedToDate:
        type: integer
        format: int32
  RetirementHomesDay:
    type: object
    required:
      - year
      - month
      - day
      - homes
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
      employee:
        type: integer
        format: int32
      occupant:
        type: integer
        format: int32
      homes:
        type: array
        items:
          $ref: '#/definitions/RetirementHomeDay'
  RetirementHomeDay:
    type: object
    properties:
      id:
        type: string
      total:
        type: integer
        format: int32
      employee:
        type: integer
        format: int32
      occupant:
        type: integer
        format: int32
  RetirementHome:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      region:
        type: string
      type:
        type: string
      occupants:
        type: integer
        format: int32
      employees:
        type: integer
        format: int32
      url:
        type: string
  SchoolCasesDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      schoolType:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
              format: int32
  SchoolStatus:
    type: object
    required:
      - absences
      - regimes
    properties:
      absences:
        type: array
        items:
          $ref: '#/definitions/SchoolAbsenceDay'
      regimes:
        type: array
        items:
          $ref: '#/definitions/SchoolRegimeDay'
  SchoolAbsenceDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      absentFrom:
        $ref: '#/definitions/Date'
      absentTo:
        $ref: '#/definitions/Date'
      schoolType:
        type: string
      school:
        type: string
      personType:
        type: string
      personClass:
        type: string
      reason:
        type: string
  Date:
    type: object
    description: Represents REST date
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
  SchoolRegimeDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      changedFrom:
        $ref: '#/definitions/Date'
      changedTo:
        $ref: '#/definitions/Date'
      schoolType:
        type: string
      school:
        type: string
      personClass:
        type: string
      attendees:
        type: integer
        format: int32
      regime:
        type: string
      reason:
        type: string
  SewageDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      plants:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            type: number
            format: float
  StatsDaily:
    type: object
    required:
      - dayFromStart
      - year
      - month
      - day
      - statePerAgeToDate
      - deceasedPerAgeToDate
    properties:
      dayFromStart:
        type: integer
        format: int32
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      phase:
        type: string
      performedTestsToDate:
        type: integer
        format: int32
      performedTests:
        type: integer
        format: int32
      positiveTestsToDate:
        type: integer
        format: int32
      positiveTests:
        type: integer
        format: int32
      tests:
        $ref: '#/definitions/Tests'
      femaleToDate:
        type: integer
        format: int32
      maleToDate:
        type: integer
        format: int32
      cases:
        $ref: '#/definitions/Cases'
      statePerTreatment:
        $ref: '#/definitions/PerTreatment'
      statePerRegion:
        type: object
        additionalProperties:
          type: integer
          format: int32
      statePerAgeToDate:
        type: array
        items:
          $ref: '#/definitions/PerAgeBucket'
      deceasedPerAgeToDate:
        type: array
        items:
          $ref: '#/definitions/PerAgeBucket'
      deceasedPerType:
        $ref: '#/definitions/PerPersonType'
      deceasedToDate:
        type: integer
        format: int32
      deceased:
        type: integer
        format: int32
      vaccination:
        $ref: '#/definitions/Vaccination'
  Tests:
    type: object
    properties:
      performed:
        $ref: '#/definitions/TodayToDate'
      positive:
        $ref: '#/definitions/TodayToDate'
      regular:
        $ref: '#/definitions/RegularTests'
      nsApr20:
        $ref: '#/definitions/RegularTests'
  RegularTests:
    type: object
    properties:
      performed:
        $ref: '#/definitions/TodayToDate'
      positive:
        $ref: '#/definitions/TodayToDate'
  Cases:
    type: object
    properties:
      confirmedToday:
        type: integer
        format: int32
      confirmedToDate:
        type: integer
        format: int32
      recoveredToDate:
        type: integer
        format: int32
      closedToDate:
        type: integer
        format: int32
      activeToDate:
        type: integer
        format: int32
      active:
        type: integer
        format: int32
      hs:
        $ref: '#/definitions/HealthSystemSCases'
      rh:
        $ref: '#/definitions/RetirementHomeCases'
      unclassified:
        $ref: '#/definitions/UnclassifiedCases'
      vaccinatedConfirmedToDate:
        type: integer
        format: int32
  HealthSystemSCases:
    type: object
    description: Health system cases
    properties:
      employeeConfirmedToDate:
        type: integer
        format: int32
  RetirementHomeCases:
    type: object
    description: Retirement home cases
    properties:
      employeeConfirmedToDate:
        type: integer
        format: int32
      occupantConfirmedToDate:
        type: integer
        format: int32
  UnclassifiedCases:
    type: object
    properties:
      confirmedToDate:
        type: integer
        format: int32
  PerTreatment:
    type: object
    properties:
      inHospital:
        type: integer
        format: int32
      inHospitalToDate:
        type: integer
        format: int32
      inICU:
        type: integer
        format: int32
      critical:
        type: integer
        format: int32
      deceasedToDate:
        type: integer
        format: int32
      deceased:
        type: integer
        format: int32
      outOfHospitalToDate:
        type: integer
        format: int32
      outOfHospital:
        type: integer
        format: int32
  PerAgeBucket:
    type: object
    properties:
      ageFrom:
        type: integer
        format: int32
      ageTo:
        type: integer
        format: int32
      allToDate:
        type: integer
        format: int32
      femaleToDate:
        type: integer
        format: int32
      maleToDate:
        type: integer
        format: int32
      administered:
        type: integer
        format: int32
      administered2nd:
        type: integer
        format: int32
      administered3rd:
        type: integer
        format: int32
  PerPersonType:
    type: object
    properties:
      rhOccupant:
        type: integer
        format: int32
      other:
        type: integer
        format: int32
  Vaccination:
    type: object
    properties:
      administered:
        $ref: '#/definitions/TodayToDate'
      administered2nd:
        $ref: '#/definitions/TodayToDate'
      administered3rd:
        $ref: '#/definitions/TodayToDate'
      used:
        $ref: '#/definitions/TodayToDate'
      delivered:
        $ref: '#/definitions/TodayToDate'
  StatsWeeklyDay:
    type: object
    required:
      - year
      - month
      - day
    properties:
      week:
        type: string
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      to:
        $ref: '#/definitions/Date'
      hospitalizedVaccinated:
        type: integer
        format: int32
      hospitalizedOther:
        type: integer
        format: int32
      icuVaccinated:
        type: integer
        format: int32
      icuVaccinatedPartially:
        type: integer
        format: int32
      icuRecovered:
        type: integer
        format: int32
      icuOther:
        type: integer
        format: int32
      confirmed:
        type: integer
        format: int32
      investigated:
        type: integer
        format: int32
      healthcare:
        type: integer
        format: int32
      healthcareMale:
        type: integer
        format: int32
      healthcareFemale:
        type: integer
        format: int32
      rhOccupant:
        type: integer
        format: int32
      sentTo:
        $ref: '#/definitions/StatsWeeklySentTo'
      source:
        type: object
        additionalProperties:
          type: integer
          format: int32
      from:
        type: object
        additionalProperties:
          type: integer
          format: int32
      locations:
        type: object
        additionalProperties:
          type: integer
          format: int32
  StatsWeeklySentTo:
    type: object
    properties:
      quarantine:
        type: integer
        format: int32
  Summary:
    type: object
    description: Total summary
    properties:
      vaccinationSummary:
        $ref: '#/definitions/VaccinationSummary'
      casesToDateSummary:
        $ref: '#/definitions/CasesToDateSummary'
      casesActive:
        $ref: '#/definitions/CasesActive'
      casesActive100k:
        $ref: '#/definitions/CasesActive100k'
      casesAvg7Days:
        $ref: '#/definitions/CasesAvg7Days'
      hospitalizedCurrent:
        $ref: '#/definitions/HospitalizedCurrent'
      icuCurrent:
        $ref: '#/definitions/ICUCurrent'
      deceasedToDate:
        $ref: '#/definitions/DeceasedToDate'
      testsToday:
        $ref: '#/definitions/TestsToday'
      testsTodayHAT:
        $ref: '#/definitions/TestsTodayHAT'
  VaccinationSummary:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        properties:
          value:
            type: integer
            format: int32
          subValues:
            $ref: '#/definitions/VaccinationSummarySubValues'
  VaccinationSummarySubValues:
    type: object
    properties:
      in:
        type: integer
        format: int32
      percent:
        type: number
        format: float
  SummaryBase:
    type: object
    description: Base class for summary items
    x-abstract: true
    required:
      - year
      - month
      - day
    properties:
      diffPercentage:
        type: number
        format: float
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
  CasesToDateSummary:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        properties:
          value:
            type: integer
            format: int32
          subValues:
            $ref: '#/definitions/CasesToDateSummarySubValues'
  CasesToDateSummarySubValues:
    type: object
    properties:
      in:
        type: integer
        format: int32
  CasesActive:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        properties:
          value:
            type: integer
            format: int32
          subValues:
            $ref: '#/definitions/CasesActiveSubValues'
  CasesActiveSubValues:
    type: object
    properties:
      in:
        type: integer
        format: int32
      out:
        type: integer
        format: int32
  CasesActive100k:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        required:
          - sublabel
        properties:
          value:
            type: number
            format: float
          sublabel:
            type: boolean
  CasesAvg7Days:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        required:
          - sublabel
        properties:
          value:
            type: number
            format: float
          sublabel:
            type: boolean
  HospitalizedCurrent:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        properties:
          value:
            type: integer
            format: int32
          subValues:
            $ref: '#/definitions/HospitalizedCurrentSubValues'
  HospitalizedCurrentSubValues:
    type: object
    properties:
      in:
        type: integer
        format: int32
      out:
        type: integer
        format: int32
      deceased:
        type: integer
        format: int32
  ICUCurrent:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        properties:
          value:
            type: integer
            format: int32
          subValues:
            $ref: '#/definitions/ICUCurrentSubValues'
  ICUCurrentSubValues:
    type: object
    properties:
      in:
        type: integer
        format: int32
      out:
        type: integer
        format: int32
      deceased:
        type: integer
        format: int32
  DeceasedToDate:
    allOf:
      - $ref: '#/definitions/SummaryBase'
      - type: object
        properties:
          value:
            type: integer
            format: int32
          subValues:
            $ref: '#/definitions/DeceasedToDateSubValues'
  DeceasedToDateSubValues:
    type: object
    properties:
      deceased:
        type: integer
        format: int32
  TestsToday:
    type: object
    required:
      - year
      - month
      - day
    properties:
      value:
        type: integer
        format: int32
      subValues:
        $ref: '#/definitions/TestsTodaySubValues'
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
  TestsTodaySubValues:
    type: object
    properties:
      positive:
        type: integer
        format: int32
      percent:
        type: number
        format: float
  TestsTodayHAT:
    type: object
    required:
      - year
      - month
      - day
    properties:
      value:
        type: integer
        format: int32
      subValues:
        $ref: '#/definitions/TestsTodaySubValues'
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
  VaccinationDay:
    type: object
    required:
      - year
      - month
      - day
      - administeredPerAge
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
      day:
        type: integer
        format: int32
      administered:
        $ref: '#/definitions/VaccinationData'
      administered2nd:
        $ref: '#/definitions/VaccinationData'
      administered3rd:
        $ref: '#/definitions/VaccinationData'
      usedToDate:
        type: integer
        format: int32
      usedByManufacturer:
        type: object
        additionalProperties:
          type: integer
          format: int32
      deliveredToDate:
        type: integer
        format: int32
      deliveredByManufacturer:
        type: object
        additionalProperties:
          type: integer
          format: int32
      administeredPerAge:
        type: array
        items:
          $ref: '#/definitions/PerAgeBucket'
  VaccinationData:
    type: object
    properties:
      today:
        type: integer
        format: int32
      toDate:
        type: integer
        format: int32
